<nav class="container mt-4">
  <div class="row justify-content-between">
    <div class="col-auto">
      <app-courses-search (search)="search($event)"></app-courses-search>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary" routerLink="/courses/new">Add course</button>
    </div>
  </div>
</nav>
<main class="container">
  <div class="row">
    <app-course *ngFor="let course of courses | orderBy:'creationDate'" [courseObject]="course" (delete)="openModal(deleteModal, $event)"
                (edit)="editCourse($event)" class="col-6 my-3"></app-course>
  </div>
</main>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <button *ngIf="!noData" type="button" class="btn btn-secondary btn-lg" (click)="loadMore()">Load more</button>
      <p *ngIf="noData">No courses. Feel free to add new course!</p>
    </div>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-header">
    <h5 class="modal-title">Deletion</h5>
    <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Do you really want to delete this course?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">No</button>
    <button type="button" class="btn btn-primary" (click)="deleteCourse()">Yes</button>
  </div>
</ng-template>

