<nav class="container mt-4">
  <div class="row justify-content-between">
    <div class="col-auto">
      <app-search></app-search>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary">Add course</button>
    </div>
  </div>
</nav>
<main class="container">
  <div class="row">
    <app-course *ngFor="let course of courses" [courseObject]="course" (delete)="deleteCourse($event)"
                class="col-6 my-3"></app-course>
  </div>
</main>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <button type="button" class="btn btn-secondary btn-lg" (click)="loadMore()">Load more</button>
    </div>
  </div>
</div>


